# MATLAB/Simulink Binary Files
*.mlx binary
*.mat binary
*.fig binary
*.mlapp binary
*.mdl binary
*.slx binary
*.mdlp binary
*.slxp binary
*.sldd binary
*.p binary
*.mexa64 binary
*.mexmaci64 binary
*.mexmaca64 binary
*.mexw64 binary

# 其他二进制文件
*.xlsx binary
*.jpg binary
*.pdf binary
*.docx binary
